<div class="row"  *ngIf="showDefaultFilters || filterComponents.length > 0">
  <div class="col-md-12">
    <div class="card card-outline-default mat-elevation-z4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="mat-table-filter">
                <button title="Refresh" (click) = "refreshTable()" mat-icon-button color="basic" type="reset"><mat-icon>refresh</mat-icon></button>
            </div>
          </div>
        </div>
        <form (ngSubmit)="processFilter(filterForm)" [formGroup]="filterForm">
          <div class="row">
            <div class="col-md-3  mb-3" *ngFor="let control of filterComponents">
              <!-- Intialize form select control -->
              <mat-form-field class="col-md-12" *ngIf="isSelect(control.controlType)">
                <mat-select [placeholder]="control.placeholder" [formControlName]="control.name">
                  <mat-option *ngFor="let o of control.controlType.options" [value]="o.value">
                    {{o.text}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="filterForm.get(control.name).hasError('required')">{{control.placeholder}}
                  is required</mat-error>
              </mat-form-field>

              <!-- Intialize form textarea control -->
              <mat-form-field class="col-md-12" *ngIf="isTextArea(control.controlType)">
                <textarea matInput [formControlName]="control.name" [placeholder]="control.label" [cols]="control.controlType.cols"
                  [rows]="control.controlType.rows"></textarea>
                <mat-error *ngIf="filterForm.get(control.name).hasError('required')">{{control.placeholder}}
                  is required</mat-error>
                <mat-error *ngIf="filterForm.get(control.name).hasError('minlength')">Minimum of
                  {{control.controlType.minLength}} characters</mat-error>
                <mat-error *ngIf="filterForm.get(control.name).hasError('maxlength')">Maximum of
                  {{control.controlType.maxLength}} characters</mat-error>
              </mat-form-field>

              <!-- Intialize form input control -->
              <mat-form-field class="col-md-12" *ngIf="isInput(control.controlType)">
                <!-- <mat-icon matPrefix class="material-icons icon-margin-right">perm_identity</mat-icon> -->
                <input matInput [placeholder]="control.label" [type]="control.controlType.type" [formControlName]="control.name" />
                <mat-error *ngIf="filterForm.get(control.name).hasError('required')">{{control.placeholder}}
                  is required</mat-error>
                <mat-error *ngIf="filterForm.get(control.name).hasError('minlength')">Minimum of
                  {{control.controlType.minLength}} characters</mat-error>
                <mat-error *ngIf="filterForm.get(control.name).hasError('maxlength')">Maximum of
                  {{control.controlType.maxLength}} characters</mat-error>
                <mat-error *ngIf="filterForm.get(control.name).hasError('min')">Should be greater than
                  {{control.controlType.min}}</mat-error>
                <mat-error *ngIf="filterForm.get(control.name).hasError('max')">Should be less than
                  {{control.controlType.max}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-3" *ngIf="showDefaultFilters">
              <!-- <mat-icon matPrefix class="material-icons col-md-3">date_range</mat-icon> -->
              <mat-form-field class="col-md-12">
                <input matInput placeholder="From" type="date" [matDatepicker]="picker" formControlName="from" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-3" *ngIf="showDefaultFilters">
              <mat-form-field class="col-md-12">
                <!-- <mat-icon>home</mat-icon> -->
                <input matInput placeholder="To" type="date" [matDatepicker]="toPicker" formControlName="to" />
                <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-3" *ngIf="showDefaultFilters">
              <mat-form-field class="col-md-12">
                <input matInput maxlength="100" placeholder="Search" type="text" formControlName="needle" />
              </mat-form-field>
            </div>
            <span class="help-block" *ngIf="filterForm.get('from').touched">
              <span class="text-danger" *ngIf="filterForm.get('from').hasError('maxlength')">Maximum of 200 characters</span>
            </span>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right mat-table-filter">
                <button mat-raised-button color="primary" type="submit" [disabled]="filterForm.invalid">Filter</button>
                <button mat-raised-button color="basic" type="reset">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="mat-table-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
    <table mat-table [dataSource]="page.content" class="mat-elevation-z8" style="width: 100%" matSort (matSortChange)="processSorting($event)">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <!-- <td mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox> </td> -->
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Fields Columns -->
      <ng-container [matColumnDef]="c.fieldName" *ngFor="let c of columns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [class.hide_on_xs]="c.hideOnXs"> {{c.columnName}} </th>
        <td mat-cell *matCellDef="let element" [class.hide_on_xs]="c.hideOnXs"> 
          <!-- {{c.isDateColumn ?
          (getFieldValue(element, c) | date:'medium') :
          getFieldValue(element, c)}} -->
           <div [innerHtml] = "getFieldValue(element, c)"></div></td>
      </ng-container>

      <!-- Other Column -->
      <ng-container matColumnDef="actions" *ngIf="moreActions">
        <th mat-header-cell *matHeaderCellDef> {{moreActions.name}} </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>list</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let action of moreActions.actions" (click)="onActionClick({id: element[moreActions.idFieldName], actionName: action.actionName})">{{action.actionName}}</button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator (page)="pageEvent($event)" [length]="page.totalElements" [pageSize]="20" [pageSizeOptions]="[1, 5, 10, 20, 50, 100, 200]">
    </mat-paginator>
  </div>
</div>