.mat-table-filter button{
    margin-right: 8px;
    float: right;
}

@media (max-width: 576px){
    .hide_on_xs{
        display: none;
    }
}

.mat-table-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }